# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# YOLO / training cache
*.cache

# Dataset
Dataset/

# Training results except the trained model
runs/detect/train/
runs/detect/train2/
runs/detect/predict/
runs/detect/val/

# Keep the trained model
!runs/
!runs/detect/
!runs/detect/train-2/
!runs/detect/train-2/weights/
!runs/detect/train-2/weights/best.pt

# Other model weights
yolov11n.pt
runs/detect/train-2/weights/last.pt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db